<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <ul>
        <li><p><a href="/strings">Task 1: Сортировщик строк.</a></p></li>
        <li><p><a href="/month">Task 2: Имя месяца.</a></p></li>
    </ul>
</div>
</body>
</html>