<!DOCTYPE html>
<html lang="en">
<head>
    <title>Month name checker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>
    <p>
        <a href="/">На главную</a>
    </p>
</div>

<h4>Task 2: Имя месяца.</h4>

<form method="get" action="/month">
    <label for="monthNumber">Введите номер месяца </label>
    <input  type="number" name="monthNumber" pattern="^[0-9]+$" placeholder={{monthNumber}} >
    <button type="submit">Проверить</button>
</form>
<br/>
<div>
    <label>Название месяца :</label>
    <p>{{monthName}}<p></p>
</div>
</body>
</html>