<!DOCTYPE html>
<html lang="en">
<head>
    <title>Strings sorter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h4>Task 1: Сортировщик строк.</h4>

<form method="post" action="/sort">
    <label for="lines">Введите строки для сортировки </label>
    <p><textarea name="inputs" id="inputs" cols="100" rows="10">{{inputs}}</textarea></p>
    <button type="submit">Сортировать</button>
</form>
<br/>

</body>
</html>